.cover__subtitle {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 32px 0 0;
  z-index: 1;
  max-width: 360px;
}

@media (max-width: 375px) {
  .cover__subtitle {
    font-size: 0.875rem;
    max-width: 288px;
  }
}