.footer__link {
  font-size: 1rem;
  line-height: 1.1;
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  opacity: 80%;
}

@media (max-width: 600px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1;
  }
}