.lead__title {
  font-size: 6rem;
  line-height: 1;
  display: flex;
  font-style: normal;
  text-align: center;
  margin: 0;
  font-weight: 900;
  max-width: 720px;
}

@media (max-width: 660px) {
  .lead__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 375px) {
  .lead__title {
    font-size: 2.5rem;
    max-width: 288px;
  }
}