.footer {
  margin: 92px auto 0;
  padding: 0 0 24px;
  max-width: 1184px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    margin: 88px 48px 0;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
  }
}

@media (max-width: 600px) {
  .footer {
    margin: 64px 16px 0;
    flex-direction: column;
  }
}