.place__header {
  font-size: 4.5rem;
  line-height: 1.05;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .place__header {
    font-size: 2.625rem;
  }
}

@media (max-width: 375px) {
  .place__header {
    font-size: 2rem;
  }
}